<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meet.paperface">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".CartActivity"></activity>
        <activity android:name=".BlankActivity" />
        <activity android:name=".GraphActivity" />
        <activity android:name=".DoublePAgeActivity" />
        <activity android:name=".SinglePageActivity" />
        <activity android:name=".AllOrder" />
        <activity
            android:name=".activity.Splash_Screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Story_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Payment_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainLayout"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Recycler_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Shopkeeper_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hostelName.RT_Hall"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hostelName.MV_hall"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hostelName.SJ_hall"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hostelName.Meghamani_Parivar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hostelName.Diamond_jubile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Register_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hostelName.Others_Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login_Activity"
            android:screenOrientation="portrait" />
    </application>

</manifest>